{% extends "testapp/base.html" %}
{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <h4 class="text-center alert alert-info">Add New Student</h4>
      <form action="" method="POST">
         {{ form.as_p }}
         {% csrf_token %}
        <input type="submit" class="btn btn-success" value="Add">
      </form>
    </div>
    <div class="col-sm-8">
      <h4 class="text-center alert alert-info">Student Information</h4>
      {% if stud %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for stud in stud %}
           <tr>
             <th scope="row">{{ stud.id}}</td>
             <td>{{ stud.name}}</td>
             <td>{{ stud.email}}</td>
             <td>{{ stud.address}}</td>
             <td>{{ stud.mob_no}}</td>
             <td>
               <a href="{% url 'Update_Stud' stud.id %}" class="btn btn-warning btn-sm">Edit</a>
               <form  action="{% url 'Delete_Stud' stud.id %}" method="post" class="form-inline">
                 {% csrf_token %}
                 <input type="submit" class="btn btn-danger btn-sm" value="Delete">
               </form>
             </td>
           </tr>
           {% endfor %}
        </tbody>
     </table>
      {% else %}
      <h4 class="text-center alert alert-info">No Data Found</h4>
      {% endif %}

    </div>
  </div>
{% endblock content %}
